.s_frame{
    /*padding: 5px;*/

    background-color: black;

    min-height: 500px;
    max-height: 500px;
    min-width: 1000px;
    max-width: 1000px;

    display: flex;
    flex-wrap: wrap;
}
.s_p{
    background-color: aqua;
    min-height: 5px;
    max-height: 5px;
    min-width: 5px;
    max-width: 5px;
}